@font-face {
  font-family: rubik;
  src: url(./assets/fonts/Rubik-Regular.ttf);
}

body {
  font-family: rubik, sans-serif;
  font-size: 16px;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
}

.react-datepicker-wrapper input {
  background: #fff;
  color: #333;
  cursor: pointer;
  font-weight: 500;
  height: 44px;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}